spring:
  application:
    name: email-service

  datasource:
    url: jdbc:postgresql://localhost:5433/ms_email_ms
    username: postgres-user
    password: postgres-pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
      show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    location: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8080


